.button,
input[type="submit"]{
 	font-size: 15	px;
 	color:black;
 	display:inline-block;
 	background-color: $acidwash;
 	border:none;
 	margin:0 auto;
 	text-align: center;
 	font-weight: 3px;
 	border-radius:3px;
 	padding:6px 24px;
 	cursor: pointer;
	transition: all 0.2s ease-in-out;
}


.join:hover{
	background:$darkGray;
	color:$acidwash;
	white-space: nowrap;	
}

.newParty{
 	font-size: 15px;
 	color:black;
 	background-color: $acidwash;
 	border:none;
 	margin:0 auto;
 	text-align: center;
 	margin-top: 220px;
 	border-radius:3px;
 	display:inline-block;
 	padding: 6px 24px;
 	cursor: pointer;
	transition: all 0.2s ease-in-out;
	white-space: nowrap;
 }

 a:visited{
	color:black;
	white-space: nowrap;
}

 a:hover{
 	color:$acidwash;
 	white-space: nowrap;
 }


 .newParty:hover{
	background:$darkGray;
 	color:$acidwash;
 	white-space: nowrap;
 	
 }

 a:link{
 	text-decoration:none;
 	white-space: nowrap;
 }

 .like_button{
	font-size:9px;
}

.dislike_button{
	font-size:9px;
}