
<div class="background"></div>

<div class="logo"></div>

<div class= "forms">

<%= form_for(@guest) do |f| %>
  <div class="field h-spacer5">
    <%= f.text_field :host_id,{ class:"form", placeholder: "Room Code", autocomplete: 'off', autocorrect: 'off' } %>
  </div>
  <div class="field h-spacer10">
    <%= f.text_field :name, { class:"form", placeholder: "Your Name", autocomplete: 'off', autocorrect: 'off' } %>
  </div>
  <div class="actions"> 
    <%= submit_tag 'Join Party', { class:"join" } %>
  </div>
<% end %>
<p class="or">or</p>
<a href='/party/new'>
	<div class="newParty h-spacer5">
		new party
	</div>
</a>

</div>