<div class="playback-container">
  <div id="apiswf"></div>
  <input id="play_key" type="hidden" value="<%= @host.playlist.key %>">
  <progress max="100" value="0" id="progress"></progress>
  <div class="artistAlbumInfo">
    <img src="/assets/prdio-logo.svg" id="art" class="albumArt">
  </div>
  <h3 class='trackInfo'><span id="artist"></span><span class='divider'><br></span><span id="track"></span></h3>
  <div class="controls">
    <%= embedded_svg 'play.svg', class: "play" %>
    <%= embedded_svg 'stop.svg', class: "stop" %>
    <%= embedded_svg 'pause.svg', class: "pause" %>
  </div>
  <div id='freq'>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>