<div class="playback-container">
  <div id="apiswf"></div>
  <input id="play_key" type="hidden" value="<%= @host.playlist.key %>">
  <div class="playControls btn-group">
    <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i> Play</button>
    <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i> Stop</button>
    <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i> Pause</button>
    <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i> Previous</button>
    <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i> Next</button>
  </div>
  <div class="artistAlbumInfo">
    <h3><span id="artist"></span> - <span id="track"></span></h3>
    <img src="" id="art" class="albumArt">
    <progress max="100" value="0" id="progress"></progress>
  </div>
</div>