<p> Hello <%= @currentUser["firstName"] %>, enter the name of your party below to begin! </p>

<%= form_for :create, url: create_path do |f| %>
	<%= f.label :playlist %>
	<%= f.text_field :playlist %>
<% end %>