<div>
	It works!
</div>
<div>
	Welcome to the party, <%= @currentUsuer["firstName"] %>
</div>
<div>
	<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Frd.io%2Fi%2FQi-FekI%2F%2F%3Fsource%3Doembed&url=http%3A%2F%2Fwww.rdio.com%2Fpeople%2FScottLeitch%2Fplaylists%2F13051137%2FAli%2527s_Party%2F&image=http%3A%2F%2Fm.rdio.com%2F_is%2F%3Faid%3D93957-0%2C192509-0%2C237774-0%2C941103-0%2C1596608-2%26w%3D400%26h%3D400&key=internal&type=text%2Fhtml&schema=rdio" width="100%" height="100" scrolling="no" frameborder="0" allowfullscreen></iframe>
</div>
