<div>
	It works!
</div>
<div>
	<p>Room: <%= @host.room %></p>
	<p>Playlist <%= @host.playlist.key %></p>
</div>
<div>
	<%= link_to 'Search', host_path + '/search' %>
</div>
<div>
	<p>
		<%= @get %>
	</p>
</div>
