/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$acidwash:#F08080; 


/*body{
 	background:center $acidwash url(asset-path('FINALPROai.jpg')) no-repeat fixed;
 	background-size:cover; 


} */

/*-------------------------------------------------------------*/
 .party{
 	font-family: 'Titillium Web', sans-serif;
 	font-size: 18px;
 	font-weight: 1px;
 	color:black;
 	background-color: $acidwash;
 	border:black solid 2px;
 	margin:0 auto;
 	text-align: center;
 	margin-top: 200px;
 	border-radius:10px;
 	display:inline-block;
 	padding: 0 10px;
 }

 a:visited{
	color:black;
}

 a:hover{
 	color:$acidwash;
 }


 .party:hover{
	background:black;
 	color:$acidwash;
 	white-space: nowrap;
 	
 }

 a:link{
 	text-decoration:none;
 }
 .logo{
	background:url(asset-path('prdiosalmon2.png')) no-repeat center;
	width:100%;
	height:58%;
	position:fixed;

}

 .forms{
 	background:.5;
 	margin-top:10%;
 	position:absolute;
 	color:black;
 	border-radius: 10px;
 }




/*-----------------------------------------------------------------*/
.join{
	font-family: 'Titillium Web', sans-serif;
 	font-size: 20px;
 	color:black;
 	display:inline-block;
 	background-color: $acidwash;
 	border:black solid 2px;
 	margin:0 auto;
 	text-align: center;
 	margin-top: 30px;
 	font-weight: 3px;
 	border-radius:10px;
 	padding:0 10px;
}

a:hover{
 	color:$acidwash;
 }


.join:hover{
	background:black;
	color:$acidwash;
	white-space: nowrap;	
}

.forms {
	display:inline-block;
	text-align: center;
	width:100%;
}

#new_guest {
	margin-top:50px;

}