/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 */

 @import 'variables';
 @import 'scaffold';
 @import 'typography';
 @import 'helpers';
 @import 'host';
 @import 'new';
 @import 'show';
 @import 'song';

 @import "objects/*";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
 	/*background:center $acidwash url(asset-path('FINALPROai.jpg')) no-repeat fixed;*/
 	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("/assets/records-bg-da1cbbc00411a1c821151ba4637394d139d798bf2483f348e776dd3a1dcb00f1.svg");
 	background-size: 600px 600px;
 	background-repeat: repeat;
 	font-family: 'Raleway', sans-serif;
  max-height: 100vh;
  overflow-y: scroll;
}
.background {
	background: url(asset-path('partypeople02.svg')) no-repeat bottom center;
}
.partyPeople {
  fill: rgba(0,0,0,1);
}

 .logo{
	background: url(asset-path('prdio-logo2.svg')) no-repeat center;
	width:100%;
	background-size: 80%;
	-webkit-background-size: 80%;
	height: 40%;
	margin-top: 5%;
	position:fixed;
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
	-webkit-animation-duration: 1.25s;
	animation-duration: 1.25s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

 .forms{
 	background:.5;
 	margin-top:10%;
 	position:absolute;
 	color:black;
 	border-radius: 10px;
 	-webkit-animation-name: fadeInUp;
 	animation-name: fadeInUp;
 	-webkit-animation-duration: 1.25s;
 	animation-duration: 1.25s;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
 	-webkit-animation-delay:0.75s;
 	animation-delay:0.75s;
 }

 @-webkit-keyframes fadeInUp {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100%, 0);
   }

   100% {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

 @keyframes fadeInUp {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100%, 0);
   }

   100% {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

/*-----------------------------------------------------------------*/
a:hover{
 	color:$acidwash;
 }

.forms {
	display:inline-block;
	text-align: center;
	width:100%;
}

#new_guest {
	margin-top: 230px;
}

@media (max-width:960px) {
	
}

@media (max-width:740px) {
	
}
	
@media (max-width:480px) {
  .songSearch {
    position: fixed;
    bottom: 0;
    top: auto;
    right: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    text-align: center; 
  }
}