/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$ali:#D3D3D3; 



 body{
 	background: #696969 url(images/fprails.jpg) no-repeat fixed; 
 	max-width: 100%;
 	max-height:100%;
 	margin:0 auto;
} 

/*-------------------------------------------------------------*/
 .party{
 	font-family:'Noto Sans', sans-serif;
 	font-size: 20px;
 	color:black;
 	background-color: $ali;
 	border:black solid 2px;
 	width: 12%;
 	margin:0 auto;
 	text-align: center;
 	margin-top: 50px;
 	margin-top: 200px;
 	border-radius:10px;
 }

 a:visited{
	color:black;
}

 a:hover{
 	color:$ali;
 }


 .party:hover{
	background:black;
 	color:$ali;
 	white-space: nowrap;
 	
 }

 a:link{
 	text-decoration:none;
 }




/*-----------------------------------------------------------------*/
.join{
	font-family: 'Noto Sans', sans-serif;
 	font-size: 20px;
 	color:black;
 	display:inline-block;
 	background-color: $ali;
 	border:black solid 2px;
 	margin:0 auto;
 	text-align: center;
 	margin-top: 50px;
 	border-radius:10px;
}

a:hover{
 	color:$ali;
 }



.join:hover{
	background:black;
	color:$ali;
	white-space: nowrap
}

.forms {
	display:inline-block;
	text-align: center;
	width:100%;
}

#new_guest {
	margin-top:50px;

}