/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 */

 @import 'variables';
 @import 'scaffold';
 @import 'typography';
 @import 'helpers';
 @import 'host';
 @import 'new';
 @import 'show';
 @import 'song';

 @import "objects/*";

html {
  box-sizing: border-box;
  height:auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
 	/*background:center $acidwash url(asset-path('FINALPROai.jpg')) no-repeat fixed;*/
 	background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("/assets/records-bg-da1cbbc00411a1c821151ba4637394d139d798bf2483f348e776dd3a1dcb00f1.svg");
 	background-size: 600px 600px;
 	background-repeat: repeat;
 	font-family: 'Raleway', sans-serif;
  height:auto;
  /*overflow: hidden;*/
}
.background {
	background: url(asset-path('partypeople02.svg')) no-repeat bottom center;
}
.partyPeople {
  fill: rgba(0,0,0,1);
}

 .logo{
	background: url(asset-path('prdio-logo2.svg')) no-repeat center;
	width:100%;
	background-size: 80%;
	-webkit-background-size: 80%;
	height: 40%;
	margin-top: 5%;
	position:fixed;
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
	-webkit-animation-duration: 1.25s;
	animation-duration: 1.25s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

 .forms{
 	background:.5;
 	margin-top:10%;
 	position:absolute;
 	color:black;
 	border-radius: 10px;
 	-webkit-animation-name: fadeInUp;
 	animation-name: fadeInUp;
 	-webkit-animation-duration: 1.25s;
 	animation-duration: 1.25s;
 	-webkit-animation-fill-mode: both;
 	animation-fill-mode: both;
 	-webkit-animation-delay:0.75s;
 	animation-delay:0.75s;
 }

 @-webkit-keyframes fadeInUp {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100%, 0);
   }

   100% {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

 @keyframes fadeInUp {
   0% {
     opacity: 0;
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100%, 0);
   }

   100% {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

/*-----------------------------------------------------------------*/
a:hover{
 	color:$acidwash;
 }

.forms {
	display:inline-block;
	text-align: center;
	width:100%;
}

#new_guest {
	margin-top: 230px;
}

#seach-data {
  border: 1px solid black;
}

@media (min-width:741px) {
	   .songSearch {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
      }
}

@media (max-width:740px) {
	.songSearch {
    display: none;
    /*opacity: 1;
    position: absolute;
    float: right;
    padding: 0;
    vertical-align: -webkit-baseline-middle;*/
  }
}
	
@media (max-width:480px) {
  .songSearch {
    top: 0;
    opacity: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 0;
    right: 0;
    display: block;
  }
  #search {
    display: none;
  }
  #search-data {
    width: 100%;
    margin-top: 5px;
    margin: 0;
    border: 1px solid black;
  }
  .code {
    display: none;
    font-size: inherit;
  }
  .roomcode {
    display: none;
  }
  .name {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .track {
    font-size: 0.75em;
  }
  #circle svg { 
    left: 0;
  }
}

#turntable {
  width: 375px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: -2;
  height: 100%;
}

#circle {   
  position: absolute;
  bottom: 0;
  width: 268px;
  overflow: hidden;
  z-index: -2;
}

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold; }

#circle svg { 
  position: absolute;
  left: 13%;
  top: 45%;
  width: 200px;
  height: 200px;
  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 2.5s;
     -moz-animation-duration: 2.5s;
      -ms-animation-duration: 2.5s;
       -o-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(0); }
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(0); }
    to { -o-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}