// Place all the styles related to the Host controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hidden {
	display: none;
}

.like {
	color: #F08080;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}