.select{
	color:$acidwash;
}

.room{
	color:$acidwash;
}

.playlist{
	color:$acidwash;
}
.songSearch{
	color:$acidwash
}

.vote{
	color:$acidwash;
}

.like{
	color:$acidwash;
}

.songs{
	color:$acidwash;
}

.playlistChoice{
	color:$darkGray;
	margin: 0 auto;
	background: white;
	border-bottom: 1px solid gainsboro;
	padding: 20px 40px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover{
		background: $lightGray;
		color: $acidwash;
	}
}

.track {
	border: 1px solid black;
	width: 380px;
    max-height: 80px;
}

.trackIcon {
	display: inline-block;
	width: 80px;
}

.trackInfo {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  width: 230px;
}

#tracks {
  position: relative;
  min-height: 380px;
  max-height: 380px;
  overflow-y: scroll;
  list-style: none;
  padding: 0px;
}

.change{
	color:$acidwash;
	width: 480px;
	margin: 0 auto;
	background: gainsboro;
	box-sizing: border-box;
	padding: 0px 40px;
}