.select{
	color:$acidwash;
}

.room{
	color:$acidwash;
}

.playlist{
	color:$acidwash;
}
.songSearch{
	color:$acidwash;
}

.vote{
	color:$acidwash;
}

.like{
	color:$acidwash;
}

.songs{
	color:$acidwash;
}

.playlistChoice{
	color:$acidwash;
}