.select{
	color:$darkGray;
}

.room{
	color:$darkGray;
}

.playlist{
	color:$darkGray;
}
.songSearch{
	color:$darkGray;
}

.vote{
	color:$darkGray;
}

.like{
	color:$darkGray;
}

.songs{
	color:$darkGray;
}

.startInstructions{
	background: white;
	box-shadow: 0px 3px 4px #e5e5e5;
	padding: 20px 40px;
	position: relative;
}

.playlistForm{
	padding: 10px 0;
}

.playlistChoice{
	color:$darkGray;
	margin: 0 auto;
	background: white;
	border-bottom: 1px solid gainsboro;
	padding: 20px 40px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover{
		background: $lightGray;
		color: $acidwash;
	}
}

.track {
	border: none;

    max-height: 80px;
}

.trackIcon {
	display: inline-block;
	width: 80px;
}

.trackInfo {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border-top: solid $darkGray 1px;
  padding-left: 15%;
 
}

#tracks {
  position: relative;
  overflow-y: scroll;
  list-style: none;
  padding: 0px;
}

.change{
	color:$darkGray;
	margin: 0 auto;
	background: white;
	// box-sizing: border-box;
	padding: 20px 40px;
}